body {
    margin:0;
    /*background-image:url(https://upload.wikimedia.org/wikipedia/commons/9/9e/Milky_Way_IR_Spitzer.jpg);*/
    background-image:url(astronomy_pictures/milky_way.jpg);
    color:white;
    font-family: sans-serif;
}

.visible {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#functionality_bar {
    background:black;
    float:left;
    padding:5px;
}

.content_button {
    margin:1px;
    background-color:#222222;
    border-style:none;
    color:#ccbb99;
    width:128px;
}

.content_button:hover {
    background-color:#444444;
}

#search_box {
    border-style:none;
    float:left;
    width:128px;
}

#main {
    width:100%;
    min-height:300px;
    background:black;
}

#table, th, td {
    border: 1px solid #ccbb99;
    border-collapse: collapse;
}

#radio_buttons {
    margin-bottom:10px;
    width:128px;
    font-size:80%;
}

a:link {
    color:#ccbb99
}
